/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.cdnfonts.com/css/source-sans-pro");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(28, 88%, 62%);
  --first-color-alt: hsl(28, 84%, 58%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --text-color-light: hsl(0, 0%, 65%);
  --black-color: #231f20;
  --body-color: hsl(0, 0%, 6%);
  --container-color: hsl(0, 0%, 10%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --biggest-font-size: 2.5rem;
  --bigger-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.375rem;
    --bigger-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  /* color: var(--text-color); */
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--black-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1240px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: var(--bigger-font-size);
  font-family: var(--second-font);
  margin-bottom: 1.5rem;
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: .4s;
}
.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__img{
  width: 100px;
  transition: .4s;
}
.nav__toggle,
.nav__close{
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
}
.form-control{
  padding: 13px 40px 13px 20px;
  border-radius: 25px
}
.nav__button{
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.625rem;
}
.nav__link{
  color: var(--black-color);
  font-weight: var(--font-regular);
  font-family: 'Source Sans Pro', sans-serif;
}
.button{
  display: flex;
  position: relative;
}
.button input::placeholder{
  color: var(--black-color);
}
.button__search{
  position: absolute;
  top: 0.9rem;
  right: 1rem;
}
.shopping i{
  font-size: 1.25rem;
  position: relative;
}
.shopping__quantity{
  background-color: red;
    padding: 1px 3px;
    color: #fff;
    position: absolute;
    top: 1.8rem;
    right: 0.05rem;
    border-radius: 50%;
    font-size: .7rem;
}



/* Navigation for mobile devices */
@media screen and (max-width: 1023.98px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #fff;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0px;
    transition: right .4s;
  }
  .nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .nav__link{
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
  }
  /* .nav__link:hover{

  } */
  .nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  .nav__button{
    display: none;
  }
}


/* Show menu */
.show-menu{
  right: 0;
}

/* Add blur header */
.scroll-header {
  background-color: #fff;
  box-shadow: 0 1px 4px hsla(220, 4%, 15%, .1);
}

/* Active link */


/*=============== Home ===============*/
.home{
  padding-top: 5rem;
}
.home__container{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.home__title{
  font-size: var(--bigger-font-size);
  margin-bottom: 1.5rem;
}
.home__desc{
  font-weight: var(--font-regular);
  color: var(--black-color);
  line-height: 1.5;
  margin-bottom: var(--h2-font-size);
}
.home h4{
  font-size: var(--h1-font-size);
  margin-bottom: var(--bigger-font-size);
}
.button__link{
  background-color: #53c0c7;
  padding: 15px 25px;
  color: #fff;
  font-weight: 400;
}
.home__span span:nth-child(1){
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #fff;
  font-weight: 400;
  font-size: 0.8rem;
}
.home__span span:nth-child(2){
  right: 1rem;
  position: absolute;
  top: 2rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}
.home__span span a{
  color: #fff;
}
.home__images{
  position: relative;
}
.home__image{

}

/*=============== BUTTON ===============*/


/*=============== Bedroom ===============*/


/*=============== Lounge  ===============*/
.lounge{

}


.lounge-title{
  display:flex;
  align-items: center;
  justify-content: center;
}
.lounge__container{
  margin-top: var(--bigger-font-size);
  height: 640px;
}

.lounge h3{
  font-size: 0.8rem;
  font-weight: 400;
}

.swiper-wrapper{

}
.lounge__card{
  text-align: center;
  width: 80%;
}
.lounge__card span{
  color: red;
}
.swiper-slide{

}

.lounge h3{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
}
.lounge h4{
  margin-top: 1.3rem;
  margin-bottom: var(--biggest-font-size);
  font-size: 1rem;
  font-weight: 400;
}
.button__link{

}
.lounge__button{

}

/*=============== Kitchen  ===============*/
.kitchen{

}

.kitchen__container{
  
} 
.kitchen__container.container {
  padding-block: 1.5rem;
}

.kitchen__content{
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.kitchen__img{
  position: relative;
}
.kitchen__img img{
  opacity: 0.7;
  background-color: #eb9f58;
}
.kitchen__image{
  position: relative;
}
.kitchen-img1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.kitchen-img2{
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}
.kitchen__img3{
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}
.kitchen__imag4{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Kitchen__img1{

}
.kitchen-img5{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.kitchen__image img:nth-child(1){
  margin-bottom: 1.5rem;
}
.Kitchen__images img:nth-child(1){
  margin-bottom: 1.5rem;
}

/*=============== Lighting  ===============*/



/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== SCROLL UP ===============*/


/* Show Scroll Up */


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 1024px){
  .nav{
    height: calc(var(--header-height) + 2rem)
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 4rem;
  }
}
@media screen and (min-width: 1150px) {
  .container{
    margin-inline: auto;
  }
 
  
}

/* For medium devices */


/* For large devices */